@font-face {
    font-family: 'bumerang';
    src: url(../media/bumerang.otf);
}

*{
    margin: 0;
    padding: 0;
}

p{
    font-family: Verdana;
}

aside{
    background-color: #D1D1FF;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 3%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 1;
    order: 1;
    z-index: 4;
}

#menu-button{
    background-image: url(../media/button.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: none;
    height: 5vh;
    width: 5vh;
    margin-left: 0.2vh;
    margin-top: 50vh;
    position: fixed;
    z-index: 5;
}

.menu-content{
    display: none;
    position: absolute;
    width: 20vw;
    background-color: #D1D1FF;
    border: 1px solid black;
    height: 100%;
    z-index: 4;
}

#top-menu{
    display: flex;
    text-align: center;
    flex-direction: column;
}

#top-menu p{
    font-size: 0.8em;
    padding-left: 5vh;
    padding-right: 5vh;
}

.socmed{
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-bottom: 2vh;
    
}

.icon{
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

#icon1{background: url(../media/socmed.png) no-repeat -66px -72px;}
#icon2{background: url(../media/socmed.png) no-repeat -439px -146px;}
#icon3{background: url(../media/socmed.png) no-repeat -290px -221px;}
#icon4{background: url(../media/socmed.png) no-repeat -439px -221px;}

#middle-menu, #bottom-menu{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 5vh;
}

#middle-menu h1, #bottom-menu h1{
    font-size: 3em;
    text-decoration: none;
    font-weight: normal;
}

#middle-menu p, #bottom-menu p{
    font-size: 0.8em;
}

#menu-button:hover + .menu-content{
    display: block;
}

#menu-button:hover{
    rotate: 180deg;
}


/* why wont height: max-content work */
body{
    background: linear-gradient(to bottom, #D1D1FF, #FFD8BE);
    position: fixed;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    flex-direction: column;
}

.homepage{
    border-top: 1px solid black;
}

#home-menu{
    height: 140vh;
}

.heading{
    font-family: 'bumerang';
    font-size: 4em;
}

nav{
    display: flex;
    height: max-content;
    justify-content: center;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 2vh;
    order: 2;
    border-bottom: 1px solid black;
    z-index: 2;
}

#left-menu, #right-menu{margin-top: 1vh;}

#left-menu a, #right-menu a{
    text-decoration: none;
    color: black;
    font-family: Verdana;
    font-size: 1em;
    border-radius: 20px;
    padding: 1vw;
    
}

#right-menu{
    word-spacing: 5vw;
    margin-right: -9vw;
}

#left-menu a:hover{
    background-color: #b4b4eb;
}

#right-menu a:hover{
    background-color: #b4b4eb;
}

#site-title{
    font-family: 'bumerang';
    font-size: 2.5em;
}

#dropown-button{
    border: none;
    background: none;
    font-size: 5em;
    font-family: 'bumerang';
    width: max-content;
    align-self: center;
    order: 2;
    height: min-content;
    margin-bottom: 3vh;
    display: none;
}

/* why wont this work */
#dropdown-button:hover .dropdown{
    display: block;
    display: block;
    background-color: #ffdd00;
    border-radius: 10%;
}

.dropdown{
    display: none;
    text-decoration: none;
    font-family: 'Verdana';
    font-size: 1.2em;
    text-transform: uppercase;
    height: max-content;
    background-color: #FF99C8;
}



header{
    background-color: white;
    height: 45vh;
    width: 100vw;
    order: 3;
    display: flex;
    position: relative;
    font-family: 'bumerang';
    font-size: 4em;
    text-align: center;
    border-bottom: 1px solid black;
    order: 3;
    justify-content: center;
}

#vidbg{
    width: 100vw;
    height: 45vh;
    object-fit: cover;
    position:absolute;
    opacity: 70%;
    z-index: 1;
}

#banner-head{
    align-self: center;
    text-align: center;
    z-index: 2;
    word-spacing: 1.3vw;
    color: #FF99C8;
    text-shadow: 1px 1px black;
    
}

section{
    order: 4;
    display: block;
    position: absolute;
    margin-top: 60vh;
    margin-left: 4%;
    padding-left: 1vw;
    padding-right: 2vw;
}

section p{
    font-size: 1.5em;
    font-family: Arial;
    text-align: justify;
    line-height: 3.5vh;
    padding-right: 2vw;
}

#gallery1{
    height: 40vh;
    width: 93vw;
    /* background-color: #D1D1FF; */
    background: linear-gradient(to bottom, #D1D1FF, #ffbbdb);
    border: 1px solid black;
    margin-top: 4vh;
    border-radius: 30px;    
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.gallery1-img{
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-top: 5%;
    height: 40vh;
    width: 20vw;
}

.gallery1-img:hover {
    transform: scale(1.2);
    opacity: 1;
}

#img1{background-image: url(../media/sun.png);}
#img2{background-image: url(../media/windmill.png);}
#img3{background-image: url(../media/waterfall.png);}
#img4{background-image: url(../media/tide.png);}
#img5{background-image: url(../media/geothermal.png);}
#img6{background-image: url(../media/biomass.png);}

@media (orientation: portrait){
    .homepage{width: 120vw; overflow-x: hidden;}
    nav{flex-direction: column; text-align: center;}
    #site-title{order: 1;}
    #left-menu{display: none;}
    #right-menu{display: none;}
    #dropdown-button{display: block;}
    header{width: 100vw;}
}

/* PAGE 2 */
.page2{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #D1D1FF, #FFD8BE);
    height: 100vh;
    overflow-x: hidden;
}

#page2-content{
    order: 4;
}

#p2head{
    font-family: 'bumerang';
    font-size: 5em;
    position: relative;
    margin-left: 5vw; 
    color: #FF99C8;
    text-shadow: 1px 1px black;
}

#page2-content p{
    font-size: 1.5em;
    padding-right: 3vw;
    font-family: Arial;
    margin-left: 5.5vw;
}   

#gallery2{
    display: flex;
    height: max-content;
    justify-content: space-evenly;
    width: 100vw;
    margin-left: 1.5vw;
    margin-top: 10vh;
    order: 5;
}

#frame1, #frame2, #frame3{
    background-color: #FCDBF9;
    height: 50vh;
    width: 50vh;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frame1:hover{
    background-color: #f7c7f2;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#frame2:hover{
    background-color: #f7c7f2;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#frame3:hover{
    background-color: #f7c7f2;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.gallery2-img{
    border-radius: 20px;
    height: 35vh;
    width: 25vw;
}

#caption{
    color: #FF99C8;
    text-shadow: 1px 1px black;
}

#img7{background-image: url(../media/advocate.jpg);}
#img8{background-image: url(../media/pug.jpg);}
#img9{background-image: url(../media/pug.jpg);}



/* PAGE 3 */
.page3{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #D1D1FF, #FFD8BE);
    min-height: max-content;
    padding-bottom: 3vh;
    overflow-x: hidden;
}

#menu3{
    height: 115vh;
}

#gallery3, #gallery4{
    overflow-y: hidden;
    margin-top: 5vh;
    height: max-content;
    width: max-content;
    order: 3;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    text-align: center;
}

.rainbow{
    display: flex;
}

.red, .orange, .yellow, .green, .blue, .purple{
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}   

.red{
    display: flex;
    width: 15vw;
    height: 35vh;
    background-color: #FF99C8;
    border: 1px solid black;
}

.red img, .orange img, .yellow img, .green img, .blue img, .purple img {
    border-radius: 300px;
    margin-top: 1vh;
    height: 24vh;
    width: 24vh;
}

.red p, .orange p, .yellow p, .green p, .blue p, .purple p{
    margin-top: 1vh;
}

.orange{
    display: flex;
    width: 15vw;
    height: 35vh;
    background-color: #FEC8C3;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.yellow{
    display: flex;
    width: 15vw;
    height: 35vh;
    background-color: #FCF6BD;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.green{
    display: flex;
    width: 15vw;
    height: 35vh;
    background-color: #D0F4DE;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.blue{
    display: flex;
    width: 15vw;
    height: 35vh;
    background-color: #A9DEF9;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
}

.purple{
    display: flex;
    width: 15vw;
    height: 35vh;
    background-color: #E4C1F9;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

    



